* {
    box-sizing: border-box;
   
  }
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
.container {
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: lightblue;
    padding: 20px;
    border-radius: 20px;

}
h1 {
    margin: 20px 10px;
    text-transform: uppercase;
	color: rgb(211, 24, 24);
	font-size: 30px;
	text-align: center;
}
h2 {
    text-transform: uppercase;
    color: rgb(150, 24, 101);
	font-size: 20px;
    margin: 20px 10px;
    text-align: center;
}
p {
    margin: 20px 15px;
    text-align: center;
}